---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Workflow from "../components/Workflow.astro";
import Features from "../components/Features.astro";
import Footer from "../components/Footer.astro";
import { SITE } from "../config/site.mjs";
---

<Layout
  title={SITE.title}
  description={SITE.description}
  canonicalURL={SITE.url}
>
  <Header />
  <main id="main-content" role="main">
    <Hero />
    <Workflow />
    <Features />
  </main>
  <Footer />
</Layout>
